<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <%= name %>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div *ngIf="<%= camelize(name) %>Array;let <%= camelize(name) %>Items">
    <div *ngIf="<%= camelize(name) %>Items.length > 0;else no<%= camelize(name) %>">
      <ion-grid>
        <ion-row wrap align-items-center>
          <ion-col *ngFor="let <%= camelize(name) %> of (<%= camelize(name) %>Array); let i = index;">
              <ion-card tappable routerLink="{{<%= camelize(name) %>.id}}" style="min-width: 200px;">

                <% if (parameters.filter(p => p.toLowerCase() == 'name')[0]) { %>
                  <ion-card-header color="secondary">{{<%= camelize(name) %>.name}}</ion-card-header>
                <% } %>

                <ion-card-content>
                  <ion-list>
                  <% parameters.filter(p => p.toLowerCase() != 'name').forEach(function(parameter){ %>
                    <ion-item>
                      <ion-label slot="start"><%= classify(parameter) %>:</ion-label>
                      <p>{{ <%= camelize(name) %>.<%= camelize(parameter) %> }}</p>
                    </ion-item>
                  <% }); %>
                  </ion-list>
                  <!-- Put anothers components of model properties here -->
                </ion-card-content>


              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ng-template #no<%= camelize(name) %>>
    <ion-card>
      <ion-card-title>
        No <%= camelize(name) %> found!
      </ion-card-title>
    </ion-card>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>