<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <%= name %>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div *ngIf="<%= camelize(name) %>Array;let <%= camelize(name) %>Items">
    <div *ngIf="<%= camelize(name) %>Items.length > 0;else no<%= camelize(name) %>">
      <ion-grid>
        <ion-row wrap>
          <ion-col *ngFor="let <%= camelize(name) %> of (<%= camelize(name) %>Array); let i = index;">
              <ion-card style="min-width: 200px;" color="secondary">


                <ion-card-header>{{<%= camelize(name) %>.name}}</ion-card-header>

                <ion-card-content>
                  <!-- Put anothers components of model properties here -->
                </ion-card-content>


              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ng-template #no<%= camelize(name) %>>
    <ion-card>
      <ion-card-title>
        No <%= camelize(name) %> found!
      </ion-card-title>
    </ion-card>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [routerLink]="['create']">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>